*{
  margin: 0;
  font-family: 'Lucida Grande';
}

a{
  text-decoration: none;
  color: #66757F;
}

.nav{
  float: left;
  padding: 10px;
}

.container{
  width: 1349px;
  height: 46px;
  background-color: red;
}
