*{
  margin: 0;
  font-family: 'Lucida Grande';
}

a{
  text-decoration: none;
  color: #66757F;
}

.nav1{
  float: left;
  padding: 10px;
}

.container{
  width: 100%;
  height: 46px;
  background-color: #fff;
}

#inicio{
  margin-left: 100px;
}

.nav2{
  float: right;
  padding: 10px;
}

#twittear{
  margin-right: 100px;
}

body{
  background-color: #F5F8FA;
}

.icon-home2,
.icon-bell,
.icon-mail-envelope-closed{
  color: #66757F;
}

#twittear{
  background-color: #1DA1F2;
  color: white;
}

.container2{
  float: left;
  margin-left: 100px;
  box-sizing: border-box;
}
